/* font styles */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
/*----- 
Common part
------- */
body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
  margin: 0;
}
/*-- header part ----*/
.influncer {
  display: flex;
  justify-content: space-between;
  margin: 0 120px;
  padding-top: 40px;
}
.influncer h2 {
  font-size: 24px;
  font-weight: 700;
  color: #3a3a3a;
}
.influncer ul {
  display: flex;
  column-gap: 1em;
}
.influncer ul li {
  list-style: none;
}
.influncer a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.influncer a:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 15px;
}
.fas.h-h:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  padding: 5px 15px;
}
/*-- first section styles ----*/
.journey-photo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.start-journey > h3 {
  font-size: 34px;
  font-weight: bold;
  color: #3a3a3a;
}
.start-journey > p {
  font-size: 15px;
}
.pre-book {
  /* padding: 10px 15px;
  font-size: 12px;
  width: 121px;
  border-radius: 30px;
  transition: width 5s; */
}
#btn {
  padding: 10px 15px;
  font-size: 12px;
  width: 150px;
  border-radius: 30px;
  background-color: #e02c6ede;
  color: #020202;
  transition: width 5s;
  transition-timing-function: ease-in-out;
}
#btn:hover {
  background-color: #e02c6d;
  color: white;
  width: 170px;
}
/*-- logos style  ----*/

.logos {
  display: flex;
  justify-content: space-evenly;
  margin: 69px 165px 0px 165px;
}
/*-- Popular Collection styles ----*/
.section3-title {
  font-size: 2em;
  margin-top: 100px;
  text-align: center;
}
.collections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin: 0px 80px;
}
.collection {
  background-image: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  width: 329px;
  border-radius: 10px;
  padding: 17px 1px;
}
.collection > img {
  width: 300px;
  height: 256px;
  border-radius: 5px;
}
.product-image {
  text-align: center;
}
.product-details {
  padding: 0px 15px;
}
.product-title {
  font-size: 25px;
}
.product-price {
  font-size: 23px;
  font-weight: 400;
}
.fa-star.filled {
  color: #f4be2c;
}
.fa-star-half-alt.empty {
  color: #f4be2c;
}
.rating-detail {
  color: #787885;
  font-size: 14px;
  font-weight: 700;
}
#see-more {
  background-color: white;
  color: #e02c6ed5;
  border: white;
  float: right;
  margin-top: 50px;
  margin-right: 82px;
}
#see-more:hover {
  background-color: white;
  color: #e02c6ed5;
  border: white;
  border-radius: 5px;
  font-size: 17px;
}
/*-- special section styles  ----*/
#special-section {
  margin: 156px 165px 100px 165px;
}
.special {
  display: flex;
  column-gap: 50px;
}
/*-- footer styles ----*/
footer {
  background-color: #0a0826;
  height: 239px;
}
.bottom {
  color: white;
  display: block;
  text-align: center;
  padding-top: 50px;
}
.bottom > h3 {
  font-size: 31px;
}
.bottom > h3,
p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.bottom > ul > li {
  list-style: none;
  height: 32px;
  width: 32px;
}
.bottom > ul {
  display: flex;
  column-gap: 16px;
  justify-content: center;
  padding: 0;
}
